<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966650851072-75bivroi0t9cm56ohsnig0etmj9vhked.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966650851072-75bivroi0t9cm56ohsnig0etmj9vhked</string>
	<key>API_KEY</key>
	<string>AIzaSyAEhMiTwyi4J8rmx3G4OYeVkqiKtfniHzc</string>
	<key>GCM_SENDER_ID</key>
	<string>966650851072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiranrana.FirebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>fir-chatapp-d1233</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chatapp-d1233.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966650851072:ios:e5e9ea4a58a78805</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chatapp-d1233.firebaseio.com</string>
</dict>
</plist>